#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define NUM     1
#define SYM     2
#define MOUSE   4

&mt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <0>;
};

/ {
    behaviors {
        /* 28番: タップで右クリック(RCLK)、長押しでShift */
        mt_shift_rclk: mt_shift_rclk {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&mkp>;
        };

        /* 40番: タップでEsc、長押しでCtrl、2タップでSYMレイヤー固定 */
        td_outer_ctrl: td_outer_ctrl {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt LCTRL ESC>, <&tog SYM>;
        };
    };

    combos {
        compatible = "zmk,combos";
        global-quick-tap-ms = <75>;
        /* S(12)+D(13)で英数(無変換) / K(20)+L(21)でかな(変換) */
        combo_lang_eng { key-positions = <11 12>; bindings = <&kp LANGUAGE_2>; }; 
        combo_lang_jp  { key-positions = <19 20>; bindings = <&kp LANGUAGE_1>; }; 
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
/* --- 1列目 (上段) --- */
/* 01 */ &kp Q,    /* 02 */ &kp W,    /* 03 */ &kp E,    /* 04 */ &kp R,    /* 05 */ &kp T,                         /* 06 */ &kp Y,    /* 07 */ &kp U,    /* 08 */ &kp I,    /* 09 */ &kp O,    /* 10 */ &kp P,
/* --- 2列目 (中段) --- */
/* 11 */ &kp A,    /* 12 */ &kp S,    /* 13 */ &kp D,    /* 14 */ &kp F,    /* 15 */ &kp G,    /* 16 */ &kp ESC,       /* 17 */ &kp ESC,  /* 18 */ &kp H,    /* 19 */ &kp J,    /* 20 */ &kp K,    /* 21 */ &lt MOUSE L, /* 22 */ &kp RCTRL,
/* --- 3列目 (下段) --- */
/* 23 */ &kp Z,    /* 24 */ &kp X,    /* 25 */ &kp C,    /* 26 */ &kp V,    /* 27 */ &kp B,    /* 28 */ &mt_shift_rclk LSHIFT RCLK, /* 29 */ &kp DEL,  /* 30 */ &kp N,    /* 31 */ &kp M,    /* 32 */ &kp COMMA, /* 33 */ &kp DOT,  /* 34 */ &kp RSHIFT,
/* --- 4列目 (最下段) --- */
/* 35 */ &kp LCTRL, /* 36 */ &kp LGUI, /* 37 */ &kp LALT, /* 38 */ &lt NUM TAB, /* 39 */ &mkp MB1, /* 40 */ &td_outer_ctrl, /* 41 */ &kp BACKSPACE, /* 42 */ &lt NUM ENTER, /* 43 */ &kp DEL
            >;
        };

        NUM {
            bindings = <
/* 01-10 */ &kp N1,    &kp N2,    &kp N3,    &kp N4,    &kp N5,                      &kp N6,    &kp N7,    &kp N8,    &kp N9,    &kp N0,
/* 11-22 */ &kp MINUS, &kp N4,    &kp N5,    &kp N6,    &kp ASTERISK, &trans,        &trans,    &kp LEFT,  &kp DOWN,  &kp UP,    &kp RIGHT, &trans,
/* 23-34 */ &trans,    &kp N1,    &kp N2,    &kp N3,    &kp PERIOD,   &trans,        &trans,    &trans,    &trans,    &trans,    &trans,    &trans,
/* 35-43 */ &trans,    &trans,    &trans,    &trans,    &trans,       &trans,        &trans,    &trans,    &trans
            >;
        };

        SYM {
            bindings = <
/* 01-10 */ &kp EXCL,  &kp AT,    &kp HASH,  &kp DLLR,  &kp PRCNT,                   &kp CARET, &kp AMPS,  &kp STAR,  &kp LPAR,  &kp RPAR,
/* 11-22 */ &kp F1,    &kp F2,    &kp F3,    &kp F4,    &kp F5,    &trans,           &kp F6,    &kp F7,    &kp F8,    &kp F9,    &kp F10,   &kp PIPE,
/* 23-34 */ &kp F11,   &kp F12,   &kp UNDER, &kp PIPE,  &kp TILD,  &trans,           &kp LBRC,  &kp RBRC,  &kp LT,    &kp GT,    &kp QMARK, &kp BSLH,
/* 35-43 */ &trans,    &trans,    &trans,    &trans,    &trans,    &trans,           &trans,    &trans,    &trans
            >;
        };

        MOUSE {
            bindings = <
/* 01-10 */ &bt BT_CLR, &bt BT_SEL 0, &bt BT_SEL 1, &bt BT_SEL 2, &bt BT_SEL 3,    &trans,    &trans,    &trans,    &trans,    &trans,
/* 11-22 */ &trans,    &trans,    &trans,    &trans,    &trans,    &trans,           &trans,    &mmv MOVE_LEFT, &mmv MOVE_DOWN, &mmv MOVE_UP, &mmv MOVE_RIGHT, &trans,
/* 23-34 */ &trans,    &trans,    &trans,    &trans,    &trans,    &trans,           &trans,    &msc SCRL_LEFT, &msc SCRL_DOWN, &msc SCRL_UP, &msc SCRL_RIGHT, &trans,
/* 35-43 */ &trans,    &trans,    &trans,    &trans,    &trans,    &trans,           &trans,    &trans,    &trans
            >;
        };
    };
};
